body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #333;
}
label, select, input, button {
    margin: 10px;
    font-size: 16px;
}
button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
    }
    
button:active{
    background-color: #95151b;
    }
#result {
    margin-top: 20px;
}
